In [16]:
a=5.2
b=6.2
c=a+b
print(c)

11.4

In [17]:
a=5586
b=668852
c=a+b
print(c)

674438

In [18]:
a=5.2
b=62
c=a+b
print(c)

67.2

In [19]:
a=512
b=6.2
c=int(a)+float(b)
print(c)

518.2

In [20]:
a=522
b=6.2
c=int(a)*float(b)
print("multiplication is:",c)

multiplication is: 3236.4

In [21]:
a=52
b=6.2
c=a*b
print(c)

322.40000000000003

In [22]:
a=556
b=6.2
c=a/b
print("quotient is:",c)

quotient is: 89.6774193548387

In [23]:
a=62
b=782
c=a+b
print('addition is:',c)

addition is: 844

In [24]:
a=10
b=15
c=a+b 
print(c)

25

In [25]:
a=10
b=15
c=a*b 
print(c)

150

In [26]:
a=10.5
b=15.8
c=a+b 
print(c)

26.3

In [27]:
a=10.5
b=15.8
c=a*b 
print(c)

165.9

In [28]:
a=int(input("enter value of a:"))
b=int(input('enter value of b:'))
c=a+b
print(c)

enter value of a:656
enter value of b:565
1221

In [29]:
a=int(input("enter value of a:"))
b=int(input('enter value of b:'))
c=int(a)+int(b)
print(c)

enter value of a:568
enter value of b:56658
57226

In [30]:
a=input("enter value of a:")
b=input('enter value of b:')
c=int(a)+int(b)
print(c)

enter value of a:5566
enter value of b:556
6122

In [31]:
a=input('enter value of a:')
b=input('enter value of b:')
c=int(a)+float(b)
print(c)

enter value of a:55454
enter value of b:45454
100908.0

In [32]:
a=input('enter value of a:')
b=input('enter value of b:')
c=int(a)*float(b)
print(c)

enter value of a:45845
enter value of b:5454
250038630.0

In [33]:
a=int(input("enter value of a:"))
b=int(input('enter value of b:'))
c=a*b
print(c)

enter value of a:4455
enter value of b:545
2427975

In [35]:
a=input('enter value of a:')
b=input('enter value of b:')
c=int(a)+int(b)
print(c)

enter value of a:6545
enter value of b:5566
12111

In [36]:
a=input('enter base:')
b=input("enter height:")
area=0.5*int(a)*int(b)
print('area of triangle is:',area)

enter length:565
enter breadth:455
area of triangle is: 128537.5

In [37]:
a=input('enter base:')
b=input("enter height:")
area=0.5*int(a)*float(b)
print('area of triangle is:',area)

enter base:45
enter height:544
area of triangle is: 12240.0

In [38]:
a=input('enter base:')
b=input("enter height:")
area=0.5*int(a)*float(b)
print('area of triangle is:',area)

enter base:45
enter height:565
area of triangle is: 12712.5

In [39]:
a=input('enter length:')
b=input("enter breadth:")
area=int(a)*float(b)
print('area of rectangle is:',area)

enter length:45
enter breadth:58
area of rectangle is: 2610.0

In [40]:
a=input('enter length:')
b=input("enter breadth:")
area=int(a)*int(b)
print('area of rectangle is:',area)

enter length:14
enter breadth:589
area of rectangle is: 8246

In [41]:
a=input('enter length:')
b=input("enter breadth:")
perimeter=2*int(a)+2*float(b)
print('perimeter of rectangle is:',perimeter)

enter length:568
enter breadth:898
perimeter of rectangle is: 2932.0

In [42]:
a=input('enter side:')
area=int(a)*int(a)
print('area of square is:',area)

enter side:56
area of square is: 3136

In [43]:
a=input('enter side:')
perimeter=4*int(a)
print('perimeter of square is:',perimeter)

enter side:56
perimeter of square is: 224

In [44]:
r=int(input('enter radius:'))
vol=4/3*3.14*r*r*r
print("volume is:",vol)

enter radius:564
volume is: 751113722.88

In [45]:
r=float(input('enter radius:'))
vol=4/3*3.14*r*r*r
print("volume is:",vol)

enter radius:568
volume is: 767208475.3066667

In [46]:
r=float(input('enter radius:'))
vol=4/3*3.14*r*r*r
print("volume is:",vol)

enter radius:859
volume is: 2653675874.7466664

In [47]:
x=int(input('enter x:'))
y=int(input('enter y:'))
z=x*x-y*y
print('(x-y)(x+y)=',z)

enter x:564
enter y:569
(x-y)(x+y)= -5665

In [48]:
x=int(input('enter x:'))
y=int(input('enter y:'))
z=x*x-y*y
print('(x-y)(x+y)=x*x-y*y=',z)

enter x:485
enter y:48
(x-y)(x+y)=x*x-y*y= 232921

In [1]:
x=int(input('enter x:'))
y=int(input('enter y:'))
z=x*x-y*y
print('(x+y)(x+y)=x*x-y*y=',z)

enter x:45
enter y:545
(x+y)(x+y)=x*x-y*y= -295000

In [2]:
a=input('enter first name:')
b=input("enter last name:")
print('full name is:',a,b)

enter first name:SAMRADNI
enter last name:DAHIPHALE
full name is: SAMRADNI DAHIPHALE

In [3]:
a=input('name:')
b=input('mob. no.:')
c=input('aadhar no.:')
d=input("city:")
print('name is:',a)
print('mob. no.is:',b)
print('aadhar no. is:',c)
print('city is:',d)

name:SAM
mob. no.:76889988899
aadhar no.:86763892793
city:BEED
name is: SAM
mob. no.is: 76889988899
aadhar no. is: 86763892793
city is: BEED

In [7]:
a=input('name:')
b=input('mob. no.:')
c=input('aadhar no.:')
d=input("city:")
print("Name is:",a,"mobile no. is:",b,"Adhar No. is:",c,"City is:",d)

name:sai
mob. no.:12345
aadhar no.:123456
city:shirdi
Name is: sai mobile no. is: 12345 Adhar No. is: 123456 City is: shirdi

In [1]:
w1=float(input('enter weight of item 1:'))
p1=float(input('enter no. of purchase:'))
w2=float(input('enter weight of item 2:'))
p2=float(input('enter no. of purchase:'))
w3=float(input('enter weight of item 3:'))
p3=float(input('enter no. of purchase:'))
w4=float(input('enter weight of item 4:'))
p4=float(input('enter no. of purchase:'))
w5=float(input('enter weight of item 5:'))
p5=float(input('enter no. of purchase:'))

avg=(w1*p1+w2*p2+w3*p3
     +w4*p4+w5*p5)/5
print('avg is:',avg)

enter weight of item 1:567
enter no. of purchase:55
enter weight of item 2:554
enter no. of purchase:55
enter weight of item 3:554
enter no. of purchase:55
enter weight of item 4:555
enter no. of purchase:5555
enter weight of item 5:56
enter no. of purchase:56
avg is: 635657.2

In [2]:
ID1=input('Employee id is:')
h=input("enter work hours:")
a=input('amount per hour:')
salary=int(h)*int(a)
print('salary is:',salary)

Employee id is:101
enter work hours:23
amount per hour:5
salary is: 115

In [3]:
ID1=input('Employee id is:')
h1=input("enter work hours:")
a1=input('amount per hour:')
ID2=input('Employee id is:')
h2=input("enter work hours:")
a2=input('amount per hour:')
ID3=input('Employee id is:')
h3=input("enter work hours:")
a3=input('amount per hour:')
ID4=input('Employee id is:')
h4=input("enter work hours:")
a4=input('amount per hour:')
avg=((int(h1)*int(a1))+(int(h2)*int(a2))+(int(h3)*int(a3))+(int(h4)*int(a4)))/4
print('avg salary is:',avg)

Employee id is:101
enter work hours:25
amount per hour:6
Employee id is:102
enter work hours:53
amount per hour:6
Employee id is:103
enter work hours:58
amount per hour:6
Employee id is:104
enter work hours:56
amount per hour:5
avg salary is: 274.0

In [4]:
d=float(input('enter distance travelled:'))
f=float(input("fuel spent:"))
avg=d/f
print("average consumption is:",avg)

enter distance travelled:5654
fuel spent:565
average consumption is: 10.007079646017699

In [5]:
a=int(input('enter the amount:'))
p100=a/100
p50=a/50
p20=a/20
p10=a/10
p5=a/5
p2=a/2
p1=a/1
print('possible bank notes of 100 are:',p100)
print('possible bank notes of 50 are:',p50)
print('possible bank notes of 20 are:',p20)
print('possible bank notes of 10 are:',p10)
print('possible bank notes of 2 are:',p2)
print('possible bank notes of 1 are:',p1)

enter the amount:565566
possible bank notes of 100 are: 5655.66
possible bank notes of 50 are: 11311.32
possible bank notes of 20 are: 28278.3
possible bank notes of 10 are: 56556.6
possible bank notes of 2 are: 282783.0
possible bank notes of 1 are: 565566.0

In [6]:
a=int(input('enter even seconds:'))
h=a/3600
print('sec to hr is:',h)
m=a/60
print('sec to min is:',m)
s=a/1
print('sec to sec is:',s)

enter even seconds:6599
sec to hr is: 1.8330555555555557
sec to min is: 109.98333333333333
sec to sec is: 6599.0

In [7]:
a=int(input('Enter the no. a:'))
b=int(input('Enter the no. b:'))
print('The numbers are:',a,b)
if(a==b):
    print('The numbers are equal')
else:
    print('The numbers are not equal')

Enter the no. a:56
Enter the no. b:5655
The numbers are: 56 5655
The numbers are not equal

In [8]:
a=int(input('Enter the no. a:'))
b=int(input('Enter the no. b:'))
print('The numbers are:',a,b)
if(a==b):
    print('The numbers are equal')
else:
    print('The numbers are not equal')

Enter the no. a:56
Enter the no. b:56
The numbers are: 56 56
The numbers are equal

In [9]:
x=int(input('Enter the 3 digit number:' ))
rev1=x%10
x=x//10
rev2=x%10
x=x//10
rev3=x
print('The reversed number is:',rev1,rev2,rev3)

Enter the 3 digit number:565
The reversed number is: 5 6 5

In [10]:
x=int(input('Enter the 5 digit number:' ))
rev1=x%10
x=x//10
rev2=x%10
x=x//10
rev3=x%10
x=x//10
rev4=x%10
x=x//10
rev5=x
print('The reversed number is:',rev1,rev2,rev3,rev4,rev5)

Enter the 5 digit number:45689
The reversed number is: 9 8 6 5 4

In [11]:
x=int(input('Enter the 3 digit number:' ))
rev1=x%10
x=x//10
rev2=x%10
x=x//10
rev3=x
print('The reversed number is:',rev3,rev2,rev1)

Enter the 3 digit number:568
The reversed number is: 5 6 8

In [12]:
x=int(input('Enter the 3 digit number:' ))
a=x%10
x=x//10
b=x%10
x=x//10
c=x
print('The number addition is:',a+b+c)

Enter the 3 digit number:565
The number addition is: 16

In [13]:
x=int(input('Enter the 5 digit number:' ))
a=x%10
x=x//10
b=x%10
x=x//10
c=x%10
x=x//10
d=x%10
x=x//10
e=x
print('The number addition is:',a+b+c+d+e)

Enter the 5 digit number:56984
The number addition is: 32

In [14]:
x=int(input('Enter the 3 digit number:' ))
a=x%10
x=x//10
b=x%10
x=x//10
c=x
print('The number multiplication is:',a*b*c)

Enter the 3 digit number:456
The number multiplication is: 120

In [15]:
x=int(input('Enter the 3 digit number:' ))
a=x%10
x=x//10
b=x%10
x=x//10
c=x
print('The number division is:',a/b/c)

Enter the 3 digit number:568
The number division is: 0.26666666666666666

In [16]:
x=int(input('Enter the 3 digit number:' ))
a=x%10
x=x//10
b=x%10
x=x//10
c=x
print('The number division is:',c/b/a)

Enter the 3 digit number:569
The number division is: 0.0925925925925926

In [17]:
x=int(input('Enter the 3 digit number:' ))
a=x%10
x=x//10
b=x%10
x=x//10
c=x
print('The number subtraction is:',a-b-c)

Enter the 3 digit number:458
The number subtraction is: -1

In [18]:
x=int(input('Enter the 3 digit number:' ))
a=x%10
x=x//10
b=x%10
x=x//10
c=x
print('The number subtraction is:',a-b-c)

Enter the 3 digit number:589
The number subtraction is: -4

In [19]:
x=int(input('Enter the 3 digit number:' ))
a=x%10
x=x//10
b=x%10
x=x//10
c=x
print('The number subtraction is:',c-b-a)

Enter the 3 digit number:458
The number subtraction is: -9

In [20]:
a=45
b=17
c=80/100
d=(a*c)-b
print('Total students in class:',a)
print('The number of boys getting A grade:',b)
print('The % of passing in class is 80% \n')
print('the no. of girls getting A grade:',d)

Total students in class: 45
The number of boys getting A grade: 17
The % of passing in class is 80%

the no. of girls getting A grade: 19.0

In [22]:
a=85
b=42
c=80/100
d=(a*c)-b
print("Total students in class:",a)
print("The number of boys getting A grade:",b)
print("The % of passing in class is 80% \n")
print("the no. of girls getting A grade:",d)

Total students in class: 85
The number of boys getting A grade: 42
The % of passing in class is 80%

the no. of girls getting A grade: 26.0

In [23]:
x=int(input('Enter a variable:'))
y=int(input('Enter another variable:'))
z=x
x=y
y=z
print('The swapped no. are:',x,y)

Enter a variable:45
Enter another variable:56
The swapped no. are: 56 45

In [24]:
x=int(input('Enter a:'))
y=int(input('Enter b:'))
z=x
x=y
y=z
print('The swapped no. are:',x,y)

Enter a:568
Enter b:56545
The swapped no. are: 56545 568

In [25]:
x=int(input('Enter a:'))
y=int(input('Enter b:'))
print('The no. are:',x,y)
z=x
x=y
y=z
print('The swapped no. are:',x,y)

Enter a:5665
Enter b:56454
The no. are: 5665 56454
The swapped no. are: 56454 5665